<div class="jumbotron jumbotron-fluid mr-4 ml-2">
    <div class="container">
        <div class="card card-area mt-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col col-xs-6">
                            <a href="#" class="btnn btnn--white btnn--animated">Today</a>
                        </div>
                        <div class="col col-xs-6">
                            <a href="#" class="btnn btnn--white btnn--animated">Last 7 days</a>
                        </div>
                        <div class="col col-xs-6">
                            <a href="#" class="btnn btnn--white btnn--animated">Last 30 Days</a>
                        </div>
                        <div class="col col-xs-6">
                            <a href="#" class="btnn btnn--white btnn--animated">Last 90 days</a>
                        </div>
                        <div class="col col-xs-6">
                            <a href="#" class="btnn btnn--white btnn--animated">Custom</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-7 download-btn">
                            <a href="#" class="btnn btnn--white active-border btnn--animated">Download sample
                                file</a>
                        </div>
                        <div class="col-md-5">
                            <a href="#" class="btnn btnn--white w-background btnn--animated btn-upload">Upload
                                File</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" id="ip2" /> <i class="fas fa-search search-icon"></i>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive ml-3 mr-3">
                    <table class="table">
                        <thead class="thead-darkk">
                            <tr>
                                <th scope="col">BULK ID</th>
                                <th scope="col">FILE NAME</th>
                                <th scope="col">PAYMENT PLAN</th>
                                <th scope="col">UPLOAD DATE</th>
                                <th scope="col">PAYES</th>
                                <th scope="col">ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="text-area thead-darkk">
                <h6 class="text">No result found</h6>
                <p class="text">Send out payment links or process card payments in bulk. Upload a file
                    containing all the
                    information and accept payments with ease.</p>
                <a href="#" class="btnn btnn--white w-background btnn--animated  btnn-uploading">Start
                    Uploading
                </a>
            </div>


        </div>

    </div>
</div>