.card-area {
    margin:10px;
    padding: 10px;
}

.btnn:link, .btnn:visited {
    text-decoration: none;
    padding:5px 20px;
    border-radius: 10rem; }
  
  .btnn--white {
    background-color: #fff;
    color: #777;
    padding: 1rem 3rem;
    display: inline-block;
}
  
  .btnn:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  
  .btnn:active {
    transform: translateY(-1rem); }
  
  .btnn:focus {
    z-index: 1;
    transform: translateY(-0.2rem);
    border: 1px solid #603b80; }

.chart-area {
    margin-top: 30px;
}

.chart-section{
    position: relative;
    margin-top: 30px;
    padding: 20px;
    background-color: #f1f1f1;
}

.cash-area {
    position: absolute;
    top: 4%;
    left: 10%;
    width: 250px;
}

.text-volume {
    position:absolute;
    color: #603b80;
    text-transform: uppercase;
    font-weight: 700;
    top: 6%;
    left: 55%;
}

.button-dates {
    position: absolute;
    right: 10%;
    top: 3%;
    color: #603b80;
    
}


.button-dates-text {
    color:#603b80;
    box-shadow: 10px solid white;
}

.arrow-icon{
    margin-left: 5px;
    margin-right: 5px;
    color: #69aeff;
}

.order-revenue-section {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.order-revenue-section .order-section .orders{
    &-header{
        color: #603b80;
    };
 
    
}

.bottom-section{
    position: relative;
}

.bottom-section .time-since-updated{
    margin-left: 25px;
}

.see-all-transcations{
    position: absolute;
    right: 1%;
    top: 0;
}

.see-all-transcations .all-transcations-text {
    color: #69aeff;
}