<div class="top_navbar">
    <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
    <div class="top_menu">
        <div class="logo">
            logo
        </div>
        <ul>
            <li class="nav-item dropdown docs-section">
                <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="fas fa-circle circle-icon"></i> Sandbox <i class="fas fa-angle-down icons"></i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">Action</a>
                    <a class="dropdown-item">Another action</a>
                    <a class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Separated link</a>
                    <a class="dropdown-item">One more separated link</a>
                </div>
            </li>
            <li class="docs-section documentation">
                <h6>Documentation</h6>
            </li>
            <li><a href="#">
                    <i class="fas fa-search"></i>
                </a></li>
            <li><a href="#">
                    <i class="fas fa-bell"></i>
                </a></li>
            <li><a href="#">
                    <i class="fas fa-user"></i>
                </a></li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light fixed-left navbar-custom">
    <!-- <div class="level-selector">
        <p>Baeh Logisitcs </p>
        <p>Administrator</p>
    </div> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">done</span> Activate</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['overview']" routerLinkActive="active" class="nav-link"><span
                        class="material-icons">assessment</span>
                    Overview</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link texting-nav">YOUR BUSINESS</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/transcations']" routerLinkActive="active" class="nav-link"><span
                        class="material-icons">add_shopping_cart</span> Transacations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">money</span>Settlement</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li>
                <a class="nav-link texting-nav">RECEIVE PAYMENTS</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">money</span>
                    Payment Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> <span class="material-icons">add_shopping_cart</span> Create
                    Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> <span class="material-icons">share</span> Payment Links</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">add_shopping_cart</span> Bulk
                    Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">important_devices</span>My Devices</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li>
                <a class="nav-link texting-nav">DEVELOPERS</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">whatshot</span>Monitoring</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">add_shopping_cart</span>API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">calendar_today</span>Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">watch_later</span>Logs</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"><span class="material-icons">settings</span>Settings</a>
            </li>
        </ul>
    </div>
</nav>